form#loginForm{
    margin: 36px;
    background-color: white;
    padding: 24px;
    width: 600px;
}

form h2#loginHeader{
    margin: 12px 0px;
    color: #0099CC;
}

form .buttonHolder{
    text-align: center;
}

form .buttonHolder #logInSubmit{
    width: 100px;
    background: #0099CC;
    color: white;
    border: none;
    padding: 4px;
}