
div#loginContainer {
    background-color: #fff;
    color: #0099CC;
}

div#loginContainer header {
    display: inline-flex;
    background-color: white;
    padding: 10px;
}

div#loginContainer header h1{
    margin: 10px;
}

div#loginContainer div#mainArea {
    padding: 56px;
    height: 500px;
    background-image: url("../../images/BKG.png");
    background-repeat: no-repeat;
}

div#loginContainer #footer {
    height: 100px;
    background-image: url("../../images/FooterBG.png");
    background-repeat: no-repeat;
}

div#loginContainer #footer #footerLogo{
    height: 70px;
    margin: 10px;
    float: right;
}

