div.inputContainer label.inputLabel {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.inputContainer input {
    width: 200px;
    margin: 12px;
}